annotation_v2018-03-29.dtd

<!ENTITY name “ArgumentationStrategyTask”>

<!-- #PCDATA makes a extent tag-->
<!ELEMENT ASSERTION ( #PCDATA ) >
<!ELEMENT FACT-TESTIMONY ( #PCDATA ) >
<!ELEMENT ANECDOTE ( #PCDATA ) >
<!ELEMENT INSULT ( #PCDATA ) >
<!ELEMENT RH-QUESTION ( #PCDATA ) >
<!ELEMENT NON-ARGUMENT ( #PCDATA ) >
<!ELEMENT OTHER-FORM ( #PCDATA ) >
